<div class="container">
  <section class="login-field">
    <h1 class="login-field__title">Login</h1>
    <p class="login-field__text">Please enter your login and password!</p>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="submitLogin()"
      class="login-field__form"
    >
      <div class="form__group">
        <label for="login" class="form__label">Login</label>
        <input
          formControlName="email"
          type="email"
          id="login"
          class="form__input"
        />
        <p
          *ngIf="
            this.loginForm.get('email')?.invalid &&
            this.loginForm.get('email')?.touched
          "
        >
          <small class="danger">Email is invalid</small>
        </p>
      </div>
      <div class="form__group">
        <label for="password" class="form__label">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          class="form__input"
        />
        <p
          *ngIf="
            this.loginForm.get('password')?.invalid &&
            this.loginForm.get('password')?.touched
          "
        >
          <small class="danger"
            >Password is invalid (min.length = 8, max.length = 20)
          </small>
        </p>
      </div>
      <button class="form__button" [disabled]="loginForm.invalid">
        Sign in
      </button>
    </form>
    <p class="login-field__question">
      Don't have an acc? You can
      <a class="login-field__create" routerLink="../singUp">create new</a>
    </p>
  </section>
</div>
