@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
//font-family: "Fuzzy Bubbles", cursive;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
//font-family: 'Lato', sans-serif;

html {
  font-family: "Fuzzy Bubbles", cursive;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(180, 61, 173, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
